@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('/fonts/inter-var-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Override of main container */
#__next {
  @apply relative z-0 flex flex-col items-stretch min-h-screen bg-white;
}

/* Fixes for lite-youtube web component */
lite-youtube::before {
  @apply box-content;
}
lite-youtube > iframe {
  @apply absolute top-0 left-0 w-full h-full;
}
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  @apply opacity-0 pointer-events-none;
}

/* Global shared styles */
a {
  @apply transition-colors text-middle hover:text-secondary;
}

blockquote > * {
  @apply relative;
}
blockquote::before,
blockquote::after {
  @apply absolute z-0 font-mono font-bold text-gray-400 opacity-75 pointer-events-none text-7xl;
}
blockquote::before {
  @apply top-0 left-0 leading-none;
  content: '\201C';
}
blockquote::after {
  @apply bottom-0 right-0 -mb-2 leading-3;
  content: '\201D';
}

/* Hamburguer Icon */
#menu-icon > path {
  @apply stroke-current stroke-4;
  fill: none;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-icon > path:nth-child(1) {
  stroke-dasharray: 60 207;
}
#menu-icon > path:nth-child(2) {
  stroke-dasharray: 60 60;
}
#menu-icon > path:nth-child(3) {
  stroke-dasharray: 60 207;
}
#menu-icon.opened > path:nth-child(1) {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
#menu-icon.opened > path:nth-child(2) {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
#menu-icon.opened > path:nth-child(3) {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

/* Gradient text */
.gradient-text {
  @apply inline-block pb-1 pr-1 text-secondary;
}

@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .gradient-text {
    @apply bg-gradient-to-r from-secondary via-middle to-accent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (hover: hover) {
  a.gradient-text {
    @apply duration-200;
    background-size: 100%;
    transition-property: background-size;
  }
  a.gradient-text:hover {
    background-size: 175%;
  }
}

.blurry-bg {
  @apply bg-white;
}

@supports (backdrop-filter: saturate(180%) blur(20px)) or
  (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
  .blurry-bg {
    @apply bg-opacity-75;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
@screen md {
  #body-b-l,
  #body-b-r,
  #body-b-t,
  #body-b-b {
    @apply fixed z-50 p-2;
  }
  #body-b-l,
  #body-b-r {
    @apply top-0 bottom-0;
  }
  #body-b-l {
    @apply left-0 bg-secondary;
  }
  #body-b-r {
    @apply right-0 bg-accent;
  }
  #body-b-t,
  #body-b-b {
    @apply left-0 right-0 bg-gradient-to-r from-secondary via-middle to-accent;
  }
  #body-b-t {
    @apply top-0;
  }
  #body-b-b {
    @apply bottom-0;
  }
}
